#navigation_container {
  display: flex;
  align-items: center;
  position: relative;
}

/*************    Filter     ***************/
#search_input {
  font-size: 14px;
  width: 200px;
  position: relative;
  z-index: 2;
}

#filter {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

#filter button {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#container_deslocamentos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 #f2f2f2;
  border: solid 1px #00ced1;
  background-color: #f2f2f2;
  width: 70%;
  height: max-content;
  margin: 5vh 0;
}

#content_deslocamentos {
  width: 100%;
}

#container_deslocamentos .item_deslocamento:not(:first-child){
  margin-top: 2vh;
}

.shape-esquerda{
  transform: translate(-45vw, 35vh) rotateZ(280deg) scale(1.2, 1.2);
}

.shape-direita{
  transform: translate(45vw, 10vh) rotateZ(180deg) scale(1.1, 1.1);
}

/*************      Item de Deslocamento individual      ***************/
.item_deslocamento{
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #3335;
}

.identificacao_deslocamento{
  font-weight: bold;
}

/********************   Dados do usuário  ***********************/
.container_usuario_deslocamento{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.usuario_deslocamento_img{
  margin-right: 15px;
}


/****************  Métricas de deslocamento   *******************/
.container_metricas_deslocamento{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.metricas_deslocamento{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2vw;
}

.metricas_deslocamento img{
  margin-right: 0.6vw;
}

/*************   Agregador Métricas e Usuário   ***************/
.container{
  margin-top: 1.5vh;
}


/************* Bandeira e botão de encerrar **************/
.container_encerrar_deslocamento{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.finalizar_deslocamento_img{
  position: relative;
  transform: translate(9vw, -12vh);
  width: 100px;
}

/*************** Filtro de deslocamentos ******************/
#filtrar:hover{
  fill: #aaa;
}

.content_actions_cadastrar{
  margin: 2rem 0 1rem 90%;

}

.content_actions_cadastrar_mobile{
  display: none;
}

@media only screen and (max-width: 1900px) {
  .finalizar_deslocamento_img{
    transform: translate(14vw -10vh);
  }
}

@media only screen and (max-width: 768px) {

  #container_deslocamentos{
    width: 100vw;
    min-height: 83vh;
    box-sizing: border-box;
    padding: 5% 3%;
    border-radius: 0;
    margin: 0 0;
  }

  .item_deslocamento{
    padding: 5%;
  }

  .container_metricas_deslocamento{
    flex-direction: column;
    align-items: flex-start;
    font-size: .9rem;
  }

  .metricas_deslocamento img{
    margin-right: 4vw;
  }

  .finalizar_deslocamento_img{
    width: 50px;
    transform: translate(55vw, -8vh);
    position: relative;
  }

  .container_encerrar_deslocamento{
    align-items: center;
    justify-content: center;
  }

  #encerrar_deslocamento_btn{
    margin-top: 5vw;
    transform: translateX(-5vw);
  }

  .content_actions_cadastrar{
    display: none;
  }

  .content_actions_cadastrar_mobile{
    display: flex;
    margin: 2vh;
  }
}
