@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

:root{
  --primary-color: #4ecbd9;
  --primary-color-dark: #00CED1;
  --secondary-color: #ffa500;
  --placeholder-color: #bdbdbd;
  --text-color: #828282;
  --title-color: #828282;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', verdana, sans-serif;
}

/******************BEGIN TOPBAR*******************/
header{
  background-color: transparent;
  height: 60px;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left_topbar_container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

.logo_arrow {
  margin-right: 10px;
  font-size: 34px;
}

#logo {
  color: var(--primary-color);
}

.navLink{
  color: #4f4f4f;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  margin-left: 1vw;
}

.navLink:hover, .navLink:active{
  border-bottom: 4px solid var(--primary-color);
}

/******************END TOPBAR*******************/

/******************BEGIN MAIN CONTENT*******************/
main {
  position: relative;
}

#content_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.shape {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 60%;
  height: 92vh;
  background: transparent;
}

.shape img{
  height: 100%;
  width: 100%;
  margin-bottom: 8%;
}

/******************END MAIN CONTENT*******************/

/******************BEGIN GENERAL BUTTONS*******************/
button {
  height: 50px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.btn_primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.btn_mobile {
  width: 240px;
}

.btn_primary:hover{
  opacity: 0.8;
}

.btn_secondary {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn_secondary:hover, .btn_secondary_mobile:hover {
  background-color: #fff9;
}

/******************END GENERAL BUTTONS*******************/

/******************BEGIN INPUTS*******************/
input, select {
  height: 24px;
  border: 0px;
  border-bottom: 1px solid var(--placeholder-color);
  color: var(--text-color);
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

input:active:focus, input:focus-within {
  border-bottom: 3px solid var(--placeholder-color);
  outline: none;
}

input::placeholder{
  color: var(--placeholder-color);
}

select{
  outline: none;
}

/******************END INPUTS*******************/

/******************BEGIN TYPOGRAPHYS*******************/
h1 h2 {
  color: var(--title-color);
}

h1{
  letter-spacing: .7rem;
  text-transform: uppercase;
}

h2{
  text-transform: capitalize;
  font-weight: 400;
}

/******************END TYPOGRAPHYS*******************/

@media only screen and (max-width: 768px) {
  #topbar_container{
    justify-content: center;
  }

  /* layout*/
  .shape {
  position: absolute;
  width: 641.6px;
  height: 630.24px;
  left: 268.21px;
  top: -178px;
  background: #00CED1;
  border-radius: 8px;
  transform: matrix(-0.86, 1.76, 0.2, 0.73, 0, 0);
  }

  /* form */
  #navigation_container{
    display: none;
  }
  .shape {
    transform: matrix(-0.86, 1.76, 0.2, 0.73, 0, 0);
    display: none;
  }

  input, select {
    width: 70%;
  }

}
