.shape-central {
  transform: translate(0, 6vh) scale(1.5, 1.1);
}

#novo_deslocamento_title {
  margin: 2vh 0 5vh;
}

/**** ERROS ****/
#erro_dataPartida, #erro_horaPartida, #erro_condutores, #erro_veiculo ,
#erro_kmAtual , #erro_cliente, #erro_checklist, #erro_motivo , #erro_obs {
  color: #b30f0f;
  font-size: 12px;
  width: 100%;
  display: none;
}

/******************* FORMULÁRIO *******************/

#form_deslocamentos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 #f2f2f2;
  border: solid 1px #00ced1;
  background-color: #f2f2f2;
  width: 70%;
  height: 65vh;
  margin-bottom: 3%;
}

.form_desloc_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-field {
  width: 300px;
  height: 36px;
  display: flex;
  align-items: center;
}

.icon_field {
  width: 50px;
  height: 45.8px;
  font-size: larger;
  color: var(--text-color);
  margin-right: 12px;
}

.content_actions_cadastrar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.content_actions_cadastrar button:first-of-type {
  margin-right: 10px;
}

.content_actions_cadastrar_mobile {
  display: none;
}


@media only screen and (max-width: 768px) {
  #novo_deslocamento_title {
    margin: 2vh 0 2vh;
  }
  #form_deslocamentos {
    width: 100%;
    height: 65vh;
    box-sizing: border-box;
    padding: 5% 8% 0 8%;
    border-radius: 0;
  }
  .form_desloc_content {
    flex-direction: column;
  }
  .form-field {
    width: 100%;
  }
  .form-field input {
    font-size: 1rem;
  }
  .content_actions_cadastrar {
    display: none;
  }
  .content_actions_cadastrar_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content_actions_cadastrar_mobile button:first-of-type {
    margin: 10px 0px;
  }
  .link_voltar {
    display: flex;
    position: absolute;
    left: 10px;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: none;
  }
  #voltar {
    height: 40px;
  }
  select{
    font-size: 16px;
  }
}

@media only screen and (min-width: 2000px) {
  input, select {
    height: 36px;
    border: 0px;
    border-bottom: 1px solid var(--placeholder-color);
    color: var(--text-color);
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
  }

  option{
    font-size: 20px;
  }

  .form-field {
    width: 500px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  button {
    height: 70px;
    padding: 20px 80px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 25px;
  }

  .navLink{
    font-size: 25px;
  }

  h2{
    font-size: 35px;
  }
}
